/******************************************************************/
/*Basic setting*/
/******************************************************************/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css);

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Meiryo, "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif !important;
}
* {
	box-sizing: border-box;
}
.container-fluid {
	background-image: url(http://i.imgur.com/PBaNDx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5%;
  padding-top: 1%;
}
.info-wrapper {
  min-height: 40em;
  background-color: rgba(250,250,250,1);
  padding-bottom: 20px !important;
}

/******************************************************************/
/*info-wrapper*/
/******************************************************************/
.info-wrapper h3 {
  text-align: center;
  margin-top: 2.5em;
  font-weight: 600;
}
#brief_img, #brief_list{
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  color: rgba(50,50,50,0.8);
  vertical-align: top;
}
#brief_img {
  width: 30%;
}
#brief_list {
  width: 58%;
}
#brief_img > img {
  width: 85%;
  height: auto;
  float: right;
  margin-top: -40px;
  margin-right: -20px;
}
#brief_list > h4 {
  font-size: 16px;
}
#brief_list > ul {
  padding-left: 0;
  list-style: none;
}
#brief_list > ul > li:before {
  content: "◆";
  margin-right: 5px;
  color: rgba(51,128,210,1);
}
#hr_line {
  width: 80%;
  margin: 40px auto 0 auto;
  position: relative;
  text-align: center;
}
#hr_line:before {
  position: absolute;
  content: "曾認證學校信箱？";
  background: rgb(255,255,255);
  font-size: 16px;
  margin-left: -66px;
  top: -10px;
  padding-right: 5px;
  padding-left: 5px;
  color: rgba(50,50,50,1);
}
/*btns*/
#btn_wrapper {
  text-align: center;
}
#redirect, #redirect:hover, #redirect:focus {
  color: black;
}
.btns {
  width: 35%;
  margin: 30px 10px 10px 10px;
  display: inline-block;
  border-radius: 5px;
  min-height: 180px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(50,50,50,0.3);
  padding: 10px;
}
.btns:hover {
  box-shadow: 2px 2px 5px rgba(50,50,50,0.3);
  transition: 0.1s;
  opacity: 0.8;
}
.btns > h4 {
  font-size: 22px;
}
#hidden_warpper {
  width: 90%;
  margin: 20px auto 0px auto;
  background: rgba(0,0,0,0.05);
  padding: 0px 10px 0px 10px;
  font-size: 13px;
  display: none;
}
#hidden_warpper > p {
  margin: 0;
  line-height: 36px;
}
#hidden_warpper > p > i {
  font-size: 18px;
}
.btns > i {
  margin-top: 10px;
}
.ever {
  background: #82c09a;
}
.never {
  background: #EF798A;
}